@import "../../styles/_variables.scss";

.pagination {
  display: flex;
  justify-content: center;

  .number-button {
    margin-right: 7px;
    background-color: var(--color-paginationBtn);
    color: var(--color-primary);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 0px 10px;

    &:last-child {
      margin-right: 0px;
    }

    &.current {
      background-color: var(--color-primary);
      color: var(--color-primaryFlipped);
    }
  }
}