@import '../../styles/_variables';

.blog-post {
  font-family: $font-primary;

  .header {
    padding-top: 180px;
    padding-bottom: 2rem;

    .blog-title {
      margin-bottom: 10px;
    }

    .blog-teaser {
      margin-bottom: 10px;
      color: var(--color-textAccentMiddle);
    }

    .blog-date {
      color: var(--color-textAccentMiddle);
    }
  }

  .article-container {
    padding-top: 4rem;
    background-color: var(--color-articleBg);
    color: var(--color-text);

    > div {
      display: flex;
      max-width: 992px;
      margin: 0 auto;

      .article-lead {
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: -3rem;
        padding: 3rem;
        padding-top: 0;
      }
    
      .article-side {
        padding: 3rem 0 3rem 1.5rem;
        flex: 0 0 calc(10.5rem + 1.5rem);
        padding-top: 0;
    
        .side-sticky {
          position: sticky;
          top: calc(3rem + 82px);
        }
      }
    }
  }

  &.mobile {
    .article-lead {
      margin-left: 0;
      padding: 3rem 0 0 0;
    }
    .article-side {
      display: none;
    }
  }
}