@import '../../styles/_variables';

.blog-post {
  font-family: $font-primary;

  .header {
    padding-top: 180px;
    padding-bottom: 2rem;
    background-color: var(--color-blogHeadBg);

    .blog-title {
      margin-bottom: 10px;
    }

    .blog-teaser {
      margin-bottom: 10px;
      color: var(--color-textAccentMiddle);
    }

    .blog-date {
      color: var(--color-textAccentMiddle);
    }
  }

  .article-container {
    padding-top: 3rem;
    background-color: var(--color-articleBg);
    color: var(--color-text);

    > div {
      display: flex;
      max-width: 992px;
      margin: 0 auto;

      .article-lead {
        flex-basis: 85%;
        margin-left: -3rem;
        padding: 3rem;
        padding-top: 0;
        min-width: 0;
        padding-right: 0;

        a {
          color: var(--color-secondary);
        }
      }
    
      .article-side {
        padding: 3rem 0 3rem 2.5rem;
        padding-top: 0;
    
        .side-sticky {
          position: sticky;
          top: calc(3rem + 82px);
        }
      }
    }
  }

  &.mobile {
    .article-container > div .article-lead {
      margin-left: 0;
      padding: 3rem 0 0 0;
      flex-basis: initial;
    }
    .article-side {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .blog-post {
    /* margin: 0px -1.75rem;
    padding: 0px 1.75rem; */
    .header {
      margin-left: -1.75rem;
      margin-right: -1.75rem;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }

    .article-container {
      margin-left: -1.75rem;
      margin-right: -1.75rem;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .blog-post  {
    .article-side {
      display: none;
    }
  }
}