@import "../../styles/_variables.scss";

.about-hero {
  font-family: $font-primary;
  color: var(--color-primary);
  font-size: 24px;
  position: relative;

  .big {
    font-size: 70px;
    font-weight: bold;
    line-height: normal;
    user-select: none;
    padding-bottom: 33px;

    .developer {
      color: var(--color-secondary);
    }

    .location {
      span {
        background-image: url('../../images/boston-cropped.gif'); 
        background-repeat: repeat; 
        background-size: cover;
        background-clip: text; 
        -webkit-text-fill-color: transparent; 
        -webkit-font-smoothing: antialiased; 
      }

      &:hover {
        background-image: url('../../images/boston-cropped.gif'); 
        background-repeat: repeat; 
        background-size: cover;
        span {
          background-clip: initial;
          color: white;
          -webkit-text-fill-color: initial;
          background-image: none;
        }
      }
    }
  }

  .small {
    line-height: normal;
    max-width: 564px;
    padding-bottom: 53px;
  }

  .links {
    display: inline-flex;
    align-items: center;

    > a {
      font-weight: bold;
      color: var(--color-primary);
      text-decoration: none;
      font-family: Sofia-Pro;

      &:hover {
        text-decoration: underline;
      }
    }

    .spacer {
      padding: 0px 5px;
    }
  }

  .steve-box {
    position: absolute;
    right: 0px;
    bottom: -5px;

    img {
      margin: 0px;
    }
  }
}