@import '../../styles/_variables';

.table-of-contents {
  .heading {
    color: var(--color-primary);
    letter-spacing: 14px;
    font-size: 12px;
    display: block;
    user-select: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--color-primary);
    font-family: $font-primary;
    margin: 8px 0px;
    font-size: 15px;

    .active {
      color: var(--color-accent);
    }
  }
}