
$stephen-red: #ff3e55;
$stephen-dark-primary: #001d4a;
$stephen-dark-cv: #000A19;
$stephen-light-primary: white;
$stephen-blue: #006cc0;
$stephen-button-gray: #666666;
$stephen-dark-gray: #777777;
$stephen-light-gray: #d8d8d8;

$font-primary: Sofia-Pro, sans-serif;