.content-wrap {
  padding-bottom: 65px;
}

.content-center {
  max-width: 992px;
  margin: 0 auto;
}

.site-main-content {
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .site-main-content {
    padding: 0px 1.75rem;
    padding-bottom: 60px;
  }
}