button:focus {
  outline: none;
}

.content-wrap {
  padding-bottom: 65px;
}

.content-center {
  max-width: 992px;
}

.site-main-content {
  padding-bottom: 60px;
}

body {
  width: 100%;
}

@media (max-width: 768px) {
  .site-main-content {
    padding: 0px 1.75rem;
    padding-bottom: 60px;
  }
}