#siteHeader {
  background: var(--color-background);
  transition: box-shadow 0.25s;
  position: fixed;
  top: 0;
  //width: 100%;
  width: 100vw;
  z-index: 5;

  &.sticky {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }

  /* &.sticky + main {
    padding-top: 82px;
  } */

  .container {
    max-width: 992px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 82px;

      .left {
      }
  
      .right {
        display: flex;
        align-items: center;

        > div:first-child {
          margin-right: 15px;
        }
      }
    }
  }

  .name-logo {
    color: var(--color-primary);
    letter-spacing: 14px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    user-select: none;
  }

  .hamburger {
    display: flex;
  }
}

.menu {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0px;
  width: 100%;
  height: calc(100vh - 82px);
  top: 82px;
  transition: opacity 0.5s;
  filter: alpha(opacity=0);
  transition: 200ms ease;
  background-color: rgba(0, 0, 0, 0.7);

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  .menu-container {
    .columns {
      height: 510px;
      background-color: var(--color-menuBackground);
      margin: 0px;

      .column {
        max-width: 992px;
        padding: 0.75rem 1.75rem;

        .menu-item {
          color: var(--color-primary);
          text-decoration: none;
          font-size: 110px;
          font-weight: bold;
          display: block;
          line-height: initial;
          cursor: pointer;
          font-family: Sofia-Pro;

          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }    
}

@media screen and (max-width: 768px) {
  #siteHeader {
    .container {
      padding: 0px 1.5rem;
    }
  }
}

@media screen and (max-width: 440px) {

}