.site-header {
  background: #001d4a;
  position: relative;

  .name-logo {
    color: white;
    letter-spacing: 14px;
    font-size: 12px;
  }

  .level {
    height: 82px;
  }

  /* .site-header-outer {
    margin: 0 auto;
    max-width: 768px;
    padding: 1.45rem 0;
    display: flex;
    justify-content: space-between;

    .site-title {
      margin: 0;
      font-size: 1.4rem;
      position: relative;

      > a {
        color: white;
        text-decoration: none;
      }
    }

    .hamburger-container {
      display: none;
      position: relative;
      width: 71px;
      height: 60px;
    }

    .links-container {
      display: flex;
    }

    .nav-element {
      margin: 0;
      padding-right: 20px;
      font-size: 1.4rem;

      > a {
        color: white;
        text-decoration: none;;
      }

      &:last-child {
        padding-right: 0px;
      }
    }

    .hamburger {
      position: absolute;
      left: 0px;
      z-index: 50;
      outline: none;
    }

    .mobile-overlay {
      display: none;
      position: fixed;
      height: 100vh;
      width: 100%;
      left: 0px;
      top: 0px;
      z-index: 2;
      background: black;
  
      > div {
        padding: 6rem 1.75rem;
  
        > h1 {
          padding-bottom: 1rem;
        }
      }
    }
  } */
}

@media (max-width: 768px) {
  .site-header {  
    .site-header-outer {
      padding: 1.75rem;

      .hamburger-container {
        display: block;
      }

      .site-title {
        font-size: 1.75rem;

        /* &:after {
          content: 'ヽ(°〇°)ﾉ	';
          margin: 0;
          font-size: 1.75rem;
          position: absolute;
          z-index: 3;
          left: 0px;
          color: white;
          width: 100%;
          font-family: sans-serif;
        } */
      }

      .links-container{
        display: none;
      }
      
      .nav-element {
        font-size: 1.75rem;
      }

      .mobile-overlay.active {
        display: block;
      }
    }
  }
}