@import "../../styles/_variables";

.article-preview {
  display: flex;
  .left {
    width: 45%;
    height: 250px;
    overflow: hidden;
  }

  .right {
    flex-basis: 55%;
    box-sizing: border-box;
    padding-left: 21px;

    .article-title {
      font-family: $font-primary;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 8px;

      > a {
        color: white;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .date {
      color: $stephen-dark-gray;
      font-size: 14px;
      font-family: $font-primary;
      padding-bottom: 14px;
      font-weight: 500;
    } 

    .preview-text {
      color: white;
      padding-bottom: 20px;
      font-size: 14px;
      font-family: $font-primary;
      font-weight: 500;
    }
  }
  /* .article-preview {
    margin: 0px;
    padding: 15px 0px 8px 0px;
    font-weight: bold;
  
    > a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  
    > a:hover {
      text-decoration: underline;
    }
  }

  .preview-text {
    color: white;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .date {
    color: $stephen-dark-gray;
    font-size: 14px;
    font-family: Sofia-Pro-SemiBold, sans-serif;
    padding-bottom: 10px;
  } */
}